@charset "utf-8";

body{	font-size: 12px;font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;}

#pageLink p{width: 622px; font-size: 12px; margin: 0 auto; padding-right: 100px;}
#container{width: 622px; margin: 0 auto;}

#pageTitle1 p{width: 622px; font-size: 12px; margin-bottom: 3px; margin-top: 20px;}
#pageTitle2 p{width: 622px; font-size: 12px; margin-top: 40px; margin-bottom: 3px; page-break-before: always;}
#pageTitle3 p{width: 622px; font-size: 12px; margin-top: 40px; margin-bottom: 3px; page-break-before: always;}
#pageTitle4 p{width: 622px; font-size: 12px; margin-top: 40px; margin-bottom: 3px; page-break-before: always;}

#receipt{width: 600px; border: 1px solid #000; padding: 10px;}
#header{width: 600px; height: 37px; margin-bottom: 20px;}
#logo{ width: 350px; float: left;}
#days{ width: 250px; float: left; line-height: 1.2em; font-size: 12px; padding-top: 10px;text-align: right;}
p{ margin: 0; padding: 0; page-break-after: avoid;}
.proviso{ width: 590px; margin: 0; padding: 5px 0;font-size:10px;}

#title{font-size: 22px; font-weight: bold;text-align: center; line-height: 1.0em;margin-bottom: 20px; clear: both;}
.enTitle{font-size: 14px; font-weight: bold; line-height: 1.0em;}

#list1, #list2{ width: 600px; border-collapse: collapse;}
#list1 td, #list1 th, #list2 td, #list2 th{border-bottom: 1px solid #666; border-collapse: collapse; padding-top: 15px; padding-bottom: 5px;}

#list2 td{ width: 100px; padding-right: 0; padding-left: 0; font-size: 10px;}
#list1 td{ width: 100px; padding-right: 0; padding-left: 0; font-size: 10px;}
.methodTxt{ font-weight: normal; }

#list1 th{ width: 420px; font-size: 18px; text-align: left; padding-left:10px;}
#list2 th{ width: 500px; font-size: 14px; text-align: left; padding-left:0;}
.rightTxt{ text-align: right; width:80px;}
.rightTax{ text-align: center; width:15px;}


.rightTxt{ text-align: left; width:80px;}
.taxTxt{ text-align:center; width:15px; font-size: 10px; font-weight : bold;}


#footer{width: 600px; margin-top: 1.75rem;}
#companyId{display: flex; flex-direction: column; font-size: 14px; margin-left: 27rem;}
#japaneseId{font-weight: bold;font-size: 1rem;}
#regNumber-block{display: flex; margin-top: 0.5rem;margin-left: 27rem;}
#regNumber-title{display: flex; flex-direction: column; font-size: 0.4rem; padding: 0.5rem 0;margin-right: 2.1rem;}
#regNumber-content {font-size: 0.5rem;font-weight: bold;padding: 0.5rem 0;}

.space{margin-left: 0.2em; margin-right: 0.3em;}

#details{width: 622px;font-size: 12px;font-family: "ＭＳ ゴシック" , Osaka; border-top: 1px dotted #000; margin-top: 40px; padding: 40px 0 10px 0;}

.paxInfo, .flightInfo, .paxFareInfo, .systemRefundFeeInfo{ width: 620px; border-collapse: collapse; border: none; margin: 0 auto 10px 0;}
.paxInfo{ margin: 0 auto 10px 0; page-break-after: avoid;}
.flightInfo{ margin: 0 auto 25px 0;}
.paxInfo td, .item, .flightInfo td, .item, .paxFareInfo td, .item, .systemRefundFeeInfo td, .item{ border: 1px solid #000; text-align: center; padding-top: 5px; padding-bottom: 2px;}
.flightInfo .total{ border-top: 3px double #000; text-align: center; padding-top: 5px; padding-bottom: 2px;}
.paxFareInfo .total{ border-top: 3px double #000; text-align: center; padding-top: 5px; padding-bottom: 2px;}
.systemRefundFeeInfo .total{ border-top: 3px double #000; text-align: center; padding-top: 5px; padding-bottom: 2px;}
.item, .total{ font-weight: bold;}
.flightInfo th{ border: none;}
.paxFareInfo th{ border: none;}
.systemRefundFeeInfo th{ border: none;}
.item1{ width: 66%;}
.item2, .item3{ width: 17%;}

.item4, .item5{ width: 13%;}
.item6, .item7{ width: 18%;}
.item8{ width: 21%;}
.item9{ width: 17%;}

.item10{ width: 56%;}
.item11, .item12{ width: 22%;}

.item13{ width: 56%;}
.item14, .item15{ width: 22%}

#details p{ margin-bottom: 3px;}

.noDisp{ border: none;}